@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

*{
    font-size: 1.6rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 70px;
}