header{
    gap: 765px;
}

header nav ul{
    display: flex;
    gap: 55px;
}

header img {
    height: 45px;
}

.hero>div {
    width: 560px;
}

.hero div>div{
    display: flex;
}

.hero img {
    height: 435px;
}

.stay-productive {
    background: url(../images/bg-curve-desktop.svg) no-repeat center;
    background-size: 360% 100%;
    margin-top: 130px;
}

.stay-productive>div {
    margin: 94px 0 50px;
}

.stay-productive h2 {
    margin-bottom: 26px;
}

.stay-productive h2~p {
    margin: 15px 0;
    width: 520px;
}

.stay-productive a {
    color: var(--moderate);
    font-size: 1.4rem;
    padding: 6px 0;
    border-bottom: 1px solid var(--moderate);
}

.stay-productive a::after {
    content: url(../images/icon-arrow.svg);
    padding-left: 5px;
}

.stay-productive a:hover {
    opacity: 70%;
}

.testimonial {
    width: 324px;
    margin-top: 48px;
    padding: 20px 36px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial p{
    font-size: 1.2rem;
    line-height: 21px;
    margin: 8px 0;
}

.testimonial>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial div h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 12px;
}

.testimonial div p {
    font-size: 0.8rem;
    line-height: 12px;
}

.testimonial div>img {
    border-radius: 50%;
    height: 30px;
}

.stay-productive>img {
    height: 376px;
}

.early-access {
    background-color: var(--desaturated);
    color: var(--light-grayish);
    gap: 265px;
    padding: 90px 70px;
}

.early-access h2 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.early-access p {
    width: 420px;
}

.early-access input {
    display: block;
    margin-bottom: 15px;
    width: 462px;
}

.early-access button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 16px 28px;
    box-shadow: 5px 5px 15px rgba(94, 94, 94, 0.3);
}

footer {
    background-color: var(--very-dark);
    color: var(--light-grayish);
    display: grid;
    padding-top: 100px;
    gap: 20px;
}

footer>a{
    width: fit-content;
}

footer .menu {
    display: flex;
    gap: 265px;
}

footer .menu .contact p{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
}

footer .menu .links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 300px;
    gap: 20px 178px;
}

footer .menu .links a:hover{
    color: var(--bright);
}

footer .menu .social{
    display: flex;
    gap: 12px;
    height: fit-content;
}

footer .menu .social i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-grayish);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-size: 1.2rem;
}

footer .menu .social i:hover{
    border: 1px solid var(--bright);
    color: var(--bright);
}

footer .attribution {
    text-align: center;
}

footer .attribution a:hover{
    color: var(--bright);
}

/* background-color: rgb(67, 109, 61); */
